{% extends "base_no_text.html" %}

{% block title %}{{author}}{% endblock %}

{% block content %} 
<div class="capas-loader min-vh-100" id="loader">
    <!-- <p class="font-oswald fw-normal text-light display-6"><span class="border-bottom border-danger border-3 px-1 lh-base">A CARREGAR </span>&nbsp;</p> -->
    <span class="circle"></span>
    <span class="circle"></span>
    <span class="circle"></span>
</div>
<div class="page">
    <div class="bg-light">
        <div class="container-fluid">
            <div class="bg-dark row">
                <div class="container text-center">
                    <hr class="custom-margin-transparent-sm">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-lg-4 offset-md-4 px-5">
                                <div class="field-content-image rounded-1">
                                    <img src="static/img/authors/{{file_name}}" class="img-news img-fluid" alt="{{author}}" onerror="handleImageErrorANews(this)">
                                </div>
                            </div>
                        </div>
                        <h1 class="text-light big-title display-1 fw-normal font-oswald d-inline-block text-uppercase">{{author}}</h1>
                    </div>
                    <h5 class="text-light fw-light mt-4 fs-6">Foi possível proceder à recolha de um total de <span class="fs-6 fw-bold">{{news_total}}</span> notícias escritas por <span class="fw-bold">{{author}}</span></h5>
                    <hr class="custom-margin-transparent-sm">
                </div>
                <hr class="custom-margin-transparent-sm">
            </div>
        </div>
        
        <hr class="custom-margin-transparent-sm">
        <div class="container-fluid">
            <div class="row mt-4 d-block px-md-4 px-lg-5">
                <div class="d-flex justify-content-end">
                    <div class="dropdown">
                        <button class="btn btn-link link-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="fw-light font-oswald">ORDENAR POR</span>
                        </button>
                        <ul class="dropdown-menu">
                        <li class="{%if order_by == 'newest'%}bg-danger text-light{%endif%} text-center"><a class="link link-dark link-opacity-50-hover link-underline-opacity-0 {%if order_by == 'newest'%}bg-danger text-light dropdown-item disabled{%endif%} font-oswald text-uppercase" href="{{order_by_href}}newest">Mais Recente</a></li>
                        <li class="{%if order_by == 'oldest'%}bg-danger text-light{%endif%} text-center"><a class="link link-dark link-opacity-50-hover link-underline-opacity-0 {%if order_by == 'oldest'%}bg-danger text-light dropdown-item disabled{%endif%} font-oswald text-uppercase" href="{{order_by_href}}oldest">Mais Antigo</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>  
        <div class="container-fluid">
            <div class="row">
                {% for item in news %}
                <div class="col-12 col-md-6 col-lg-4 px-2 px-md-5 pb-5 mb-3 pt-1">
                    <div class="container-fluid">
                            {% if minimal_content == False %}
                            <a href="noticias?nid={{item.nid}}">
                                <div class="field-content-image rounded-1">
                                    <img src="{{ item.image_url }}" alt="" class="rounded-1" onerror="handleImageErrorANews(this)">
                                </div>                    
                            </a>
                                <div>
                                    <a href="noticias?nid={{item.nid}}" class="link link-danger link-underline-danger link-offset-2 d-inline-block text-dark">
                                        <h5 class="font-oswald fw-light text-dark fs-3">{{ item.date }}</h5>
                                    </a>
                                    <h3 class="text-uppercase font-oswald title-link">
                                        <a href="noticias?nid={{item.nid}}" class="link link-underline-opacity-0 link-underline-opacity-100-hover link-offset-1 link-dark">
                                            {% if item.title %}
                                                {% set stripped_title = item.title.strip() %}
                                                {% if stripped_title %}
                                                    {{ stripped_title }}
                                                {% else %}
                                                    {% if item.text_snippet | length > 30 %}
                                                        {{ item.text_snippet[:30] }}...
                                                    {% else %}
                                                        {{ item.text_snippet }}
                                                    {% endif %}
                                                {% endif %}
                                            {% else %}
                                                {% if item.text_snippet | length > 30 %}
                                                    {{ item.text_snippet[:30] }}...
                                                {% else %}
                                                    {{ item.text_snippet }}
                                                {% endif %}
                                            {% endif %}
                                        </a>
                                    </h3>
                                    <p class="">por <span class="fw-bold">{% if item.author == "" %} NC {% endif %} {% if item.author != "" %} {{ item.author }} {% endif %} </span></p>
                                    <p class="font-montserrat">
                                        {% if item.formatted_html_content_normal == "" %}
                                        <br>
                                        {% elif (item.title|length + item.author|length) > 60 %}
                                            {{ item.formatted_html_content_normal[:item.title|length + item.author|length] | safe }}...
                                        {% else %}
                                            {{ item.formatted_html_content_normal[:110] | safe }}...
                                        {% endif %}
                                    </p>
                                </div>
                            {% else %}
                                <div>
                                    <a href="noticias?nid={{item.nid}}" class="link link-danger link-underline-danger link-offset-2 d-inline-block text-dark">
                                        <h5 class="font-oswald fw-light text-dark fs-3">{{ item.date }}</h5>
                                    </a>
                                    <h3 class="text-uppercase font-oswald title-link">
                                        <a href="noticias?nid={{item.nid}}" class="link link-underline-opacity-0 link-underline-opacity-100-hover link-offset-1 link-dark">
                                            {{ item.title }}
                                        </a>
                                    </h3>
                                    <p class="">por <span class="fw-bold">{% if item.author == "" %} NC {% endif %} {% if item.author != "" %} {{ item.author }} {% endif %} </span></p>
                                    <p class="font-montserrat">
                                        {% if item.formatted_html_content_normal %}
                                                {% if item.formatted_html_content_normal == "" %}
                                                    <br>
                                                {% elif (item.title|length + item.author|length) > 100 %}
                                                    {{ item.formatted_html_content_normal[:120] | safe }}...
                                                {% else %}
                                                    {{ item.formatted_html_content_normal[:190] | safe }}...
                                                {% endif %}
                                        {% endif %}
                                    </p>
                                </div>
                            {% endif %}
                    </div>
                </div>                 
                {% endfor %}
            </div>
        </div>
        <!-- Pagination -->
        <div class="container-fluid d-none d-md-flex justify-content-center align-items-center flex-column mt-5 pb-3">
            {{ pagination.links }}
        </div>
        <div class="container-fluid d-flex d-md-none justify-content-center align-items-center flex-column mt-5 pb-3">
            {{ small_pagination.links }}
        </div> 
        <div class="bg-light text-center py-5">
            <a href="index" class="fs-6 link link-secondary link-underline-opacity-100-hover link-underline-opacity-25 font-montserrat">VOLTAR À PÁGINA INICIAL</a>
        </div>
    </div>
</div>

<script>

// Wait for all resources to load
window.addEventListener('load', function() {
 // Get all images with class "img-news"
 var images = document.querySelectorAll('.img-news');
var count = 0
// Iterate through each image
images.forEach(function(image) {
    count++
    // Check if the image has loaded
    image.addEventListener('load', function() {
        // Check if src attribute is empty
        if (!image.getAttribute('src')) {
            handleImageErrorNews(image)
        }
    });
});
console.log(count)
hideLoader();
});
   ///////////////////////////
// SINGLE NEWS IMAGE ERROR
///////////////////////////
function handleImageErrorNews(image) {
// Hide the image by setting its display property to 'none'
image.style.display = 'none';
var parentDiv = image.parentElement;
            if (parentDiv) {
                parentDiv.style.display = 'none';
            }
}

function handleImageErrorANews(image) {
    // Hide the image by setting its display property to 'none'
    // image.style.display = 'none';
    image.src = 'static/img/nc_logo_dark.png';
    image.style.scale = '0.6';
    var parentDiv = image.parentElement;
                if (parentDiv) {
                    parentDiv.classList.add('bg-light')
                    parentDiv.classList.add('border')
                    parentDiv.classList.add('border-2')
                    parentDiv.classList.add('border-dark')
                }
}

</script>

    
    {% endblock %}
