{% extends "base_no_text.html" %}

{% block title %}
    Política de Privacidade
{% endblock %}

{% block content %} 
<div class="bg-light">
    <div class="container pt-3">
        <div class="row rounded-1 justify-content-center">
            <div class="col-md-10 col-lg-8 px-4 px-md-0  font-montserrat">
                <hr class="custom-margin-transparent-b-sm" id="sobre">
                <br>
                <h1 class="display-4 text-center text-uppercase font-oswald">Política de Privacidade</h1>
                <p class="text-muted text-center mb-3"><strong>Última atualização:</strong> 4 de junho de 2024</p>
                <p class="fs-5 text-muted mb-5 text-center">A sua privacidade é importante para nós.<br>Esta página descreve como recolhemos, usamos e protegemos os dados fornecidos ao interagir com o ArquivoNC.</p>
                
                <h6 class="font-montserrat fw-semibold text-muted text-uppercase">Dados Recolhidos</h6>
                <p class="fs-6 lead text-muted mb-3"><strong>Email:</strong> Recolhemos o seu endereço de email quando efetua a subscrição da newsletter.</p>
                <hr>
                <h6 class="font-montserrat fw-semibold text-muted text-uppercase">Utilização dos Dados</h6>
                <p class="fs-6 lead text-muted mb-3"><strong>Newsletter:</strong> Utilizamos o seu email para enviar newsletters sobre os acontecimentos que aconteceram nessa semana mas X anos atrás.</p>
                <hr>
                <h6 class="font-montserrat fw-semibold text-muted text-uppercase">Partilha de Dados</h6>
                <p class="fs-6 lead text-muted mb-3"><strong>Terceiros:</strong> Não compartilhamos o seu email com terceiros, exceto conforme necessário para cumprir com a lei ou em resposta a processos legais.</p>
                <hr>
                <h6 class="font-montserrat fw-semibold text-muted text-uppercase">Segurança dos Dados</h6>
                <p class="fs-6 lead text-muted mb-3"><strong>Proteção:</strong> Implementámos medidas de segurança para proteger o seu email contra o acesso não autorizado, alteração, divulgação ou destruição.</p>
                <hr>
                <h6 class="font-montserrat fw-semibold text-muted text-uppercase">Direitos</h6>
                <p class="fs-6 lead text-muted mb-1"><strong>Cancelar a Subscrição:</strong> Pode cancelar a inscrição da nossa newsletter a qualquer momento ao clicar no <em>link</em> 'cancelar' existente em cada newsletter que é enviada</p>
                <p class="fs-6 lead text-muted mb-3"><strong>Acesso e Correção:</strong> Tem o direito de aceder e corrigir as suas informações pessoais. Para isso, entre em contato connosco.</p>
                <hr>
                <h6 class="font-montserrat fw-semibold text-muted text-uppercase">Alterações na Política de Privacidade</h6>
                <p class="fs-6 lead text-muted mb-3"><strong>Atualizações:</strong> Podemos atualizar esta Política de Privacidade periodicamente. Recomendamos que a reveja regularmente para se manter informado.</p>
                <hr>
                <h6 class="font-montserrat fw-semibold text-muted text-uppercase">Contacto</h6>
                <p class="fs-6 lead text-muted mb-3"><strong>Informações de Contacto:</strong> Se surgir alguma dúvida sobre esta <b>Política de Privacidade</b>, entre em contacto connosco através do email <a href="mailto:newsletter.arquivonc@ubi.pt" class="link link-dark link-underline-opacity-25 link-underline-opacity-75-hover">newsletter.arquivonc@ubi.pt</a>.</p>
                <hr>
                <p class="fs-6 lead text-muted mb-5">A utilização do nosso website pressupõe a concordância com a coleta e uso de informações conforme descrito nesta Política de Privacidade.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
