{% extends "base.html" %}

{% block title %}
    Erro 404
{% endblock %}

{% block content %} 
<div class="bg-light">
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="text-center">
            <h1 class="display-4 mb-4 font-oswald text-uppercase">404 Página não encontrada</h1>
            <p class="lead font-montserrat">A página que procura não foi encontrada. Por favor, verifique o URL ou volte à página inicial.</p>
            <a href="/" class="link link-underline-opacity-50 link-underline-opacity-100-hover link-offset-1 link-dark text-uppercase font-oswald fs-2">Página Inicial</a>
        </div>
    </div>
</div>
{% endblock %}
