<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='index.css')}}">
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="overflow-y-auto mx-0 px-0 overflow-x-hidden">
    
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <h1 class="text-start fw-bold display-3 mb-0 text-uppercase ms-2"><span class="text-danger fw-bold display-1">N</span>otícias da <span class="text-danger fw-bold display-1">C</span>ovilhã</h1>
                <h6 class="ms-2 fw-thin">O <span class="text-decoration-underline underline-offset-2">Arquivo Web</span> do semanário mais antigo do Distrito de Castelo Branco</h6>
           </div>
        </div>
        <div class="col-md-6 mt-2 text-end">
            <!--<h5><a href="#" class="d-none d-sm-block mt-2 me-2 link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover text-uppercase opacity-75">Arquivo Web</a></h5>-->
            <h5><a href="" class="d-none d-sm-block me-2 link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover text-uppercase opacity-75"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
              </svg></a></h5>
        </div>
        
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-black">
            <div class="container ms-0">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <button class="nav-link" href="#" onclick="toggleSecondaryNav('seccoes', this)">SECÇÕES</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" href="#" onclick="toggleSecondaryNav('local', this)">LOCAL</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" href="#" onclick="toggleSecondaryNav('canais', this)">CANAIS</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" href="#" onclick="toggleSecondaryNav('opiniao', this)">OPINIÃO</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" href="#" onclick="toggleSecondaryNav('editorial', this)">EDITORIAL</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" href="#">MAIS POPULARES</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" href="#">MULTIMEDIA</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" href="#" onclick="toggleSecondaryNav('anos', this)">ANOS</button>
                        </li>
                        
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover text-uppercase fw-bold" href="#">?</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>      

        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary" id="secondaryNavMain" style="display: none;">
            <div class="container">
                <ul class="navbar-nav me-auto" id="secondaryNav">
                    <li class="nav-item secondary-nav-item" id="seccoesItem">
                        <a class="nav-link d-inline" href="#">CENTRAIS</a>
                        <span class="vertical-line">|</span>
                        <a class="nav-link d-inline" href="#">ACTUALIDADE</a>
                        <span class="vertical-line">|</span>
                        <a class="nav-link d-inline" href="#">DESPORTO</a>
                        <span class="vertical-line">|</span>
                        <a class="nav-link d-inline" href="#">RELIGIÃO</a>
                        <span class="vertical-line">|</span>
                        <a class="nav-link d-inline" href="#">CULTURA</a>
                        <span class="vertical-line">|</span>
                        <a class="nav-link d-inline" href="#">ASSOCIATIVISMO</a>
                        <span class="vertical-line">|</span>
                        <a class="nav-link d-inline" href="#">ECONOMIA</a>
                        <span class="vertical-line">|</span>
                        <a class="nav-link d-inline" href="#">AGENDA</a>
                    </li>
                    
                    <li class="nav-item secondary-nav-item" id="localItem">
                        <a class="nav-link d-inline" href="#">Link 1</a>
                      
                        <a class="nav-link d-inline" href="#">Link 2</a>
                    </li>
                    <li class="nav-item secondary-nav-item" id="canaisItem">
                        <a class="nav-link d-inline" href="#">Link 1</a>
                        <a class="nav-link d-inline" href="#">Link 2</a>
                    </li>
                    <li class="nav-item secondary-nav-item" id="anosItem">
                        {% for year in range(2019, 2008, -1) %}
                            <a class="nav-link d-inline" href="{{ url_for('news_per_year', year=year) }}">{{ year }}</a>
                            <span class="vertical-line">|</span>
                        {% endfor %}
                    </li>
                </ul>
            </div>
        </nav>
    {% block content %}{% endblock %}
    <div class="bg-dark">
       <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 mt-5 pt-4 border-top text-white">
        <div class="col mb-3 text-white">
          <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
          </a>
          <p class="text-body-light">© 2024</p>
        </div>
    
        <div class="col mb-3">
    
        </div>

        <div class="col mb-3">
          <h5 class="font-montserrat fw-thin text-uppercase opacity-50">Secções</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light">Pela Curiosidade</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light">Features</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light">Pricing</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light">FAQs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light">About</a></li>
          </ul>
        </div>
    
        <div class="col mb-3">
          <h5>Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light">Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light">Features</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light">Pricing</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light">FAQs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light">About</a></li>
          </ul>
        </div>
    
        <div class="col mb-3">
          <h5 class="font-montserrat fw-thin text-uppercase opacity-50">Links</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a class="text-light text-uppercase fw-bold link link-underline-opacity-0 link-underline-opacity-100-hover link-offset-3 link-light" href="#" > 
                Github
              </a>
          </li>
            <li class="nav-item mb-2">
              <a class="text-light text-uppercase link link-underline-opacity-0 link-underline-opacity-100-hover link-offset-3 link-light" href="#"> 
                
              </a>
            </li>
            <li class="nav-item mb-2">
              <a class="text-light text-uppercase link link-underline-opacity-0 link-underline-opacity-100-hover link-offset-3 link-light" href="#"> 
              </a>
            </li>
            <li class="nav-item mb-2">
              <a class="text-light text-uppercase link link-underline-opacity-0 link-underline-opacity-100-hover link-offset-3 link-light" href="#"> 
              </a>
            </li>
            <li class="nav-item mb-2">
              <a class="text-light text-uppercase link link-underline-opacity-0 link-underline-opacity-100-hover link-offset-3 link-light" href="#"> 
              </a>
            </li>
          </ul>
        </div>
      </footer>
    </div>
</body>
</html>
