<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='index.css')}}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="overflow-y-auto overflow-x-hidden bg-dark">
    <div class="row bg-dark">
        <div class="col-md-7">
            <div class="row">
                <div class="d-flex d-inline-block">
                    <a href="/" class="link link-light link-underline-opacity-0 link-underline-opacity-100-hover">
                        <h1 class="ms-2 mt-3 fw-normal font-oswald display-4 mb-0 text-uppercase text-white">Arquivo <span class=" text-danger ">NC</span></h1>
                       <!--<h1 class="ms-2 mt-3 fw-normal font-oswald display-4 mb-0 text-uppercase text-white"><span class=" text-danger ">N</span>otícias da <span class=" text-danger ">C</span>ovilhã</h1>--> 
                    </a>
                </div>
                <h6 class="ms-2 fw-normal text-white text-uppercase mt-3">O <span class="fw-bold text-danger">Arquivo Web</span> do semanário mais antigo do Distrito de Castelo Branco</h6>
           </div>   
        </div>
        <div class="col-md-5 mt-2 text-end">
            <!--<h5><a href="#" class="d-none d-sm-block mt-2 me-2 link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover text-uppercase opacity-75">Arquivo Web</a></h5>-->
            <h5><a href="" class="d-none d-sm-block me-2 link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover text-uppercase opacity-75"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
              </svg></a></h5>
        </div>
        
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger text-center">
            <div class="container ms-0">
                <button class="navbar-toggler text-uppercase font-oswald text-light text-center text-sm-start" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    MENU
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <div class="nav-link">
                                <a href="/" class="nav-link">
                                    <span class="fw-normal font-oswald text-uppercase text-white">Arquivo <span class=" text-dark ">NC</span></span>
                                </a>
                            </div>
                        </li>
                        <li class="nav-item text-center">
                            <a class="nav-link mt-2 " href="#" onclick="toggleSecondaryNav('seccoes', this)">SECÇÕES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mt-2" href="#" onclick="toggleSecondaryNav('local', this)">LOCAL</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mt-2" href="#" onclick="toggleSecondaryNav('canais', this)">CANAIS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mt-2" href="#" onclick="toggleSecondaryNav('opiniao', this)">OPINIÃO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mt-2" href="#" onclick="toggleSecondaryNav('editorial', this)">EDITORIAL</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mt-2" href="#">MAIS POPULARES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mt-2" href="#">MULTIMEDIA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mt-2" href="#" onclick="toggleSecondaryNav('anos', this)">ANOS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mt-2" href="/capas">CAPAS</a>
                        </li>
                        
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <hr class="border-bottom border-light opacity-75">
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" href="/sobre">SOBRE</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>      

        <nav class="navbar navbar-expand-lg navbar-dark bg-black border-bottom border-dark border-2" id="secondaryNavMain" style="display: none;">
            <div class="container">
                <ul class="navbar-nav me-auto" id="secondaryNav">
                    <li class="nav-item secondary-nav-item" id="seccoesItem">
                        <a class="nav-link d-inline" href="#">CENTRAIS</a>
                        <span class="vertical-line">|</span>
                        <a class="nav-link d-inline" href="#">ACTUALIDADE</a>
                        <span class="vertical-line">|</span>
                        <a class="nav-link d-inline" href="#">DESPORTO</a>
                        <span class="vertical-line">|</span>
                        <a class="nav-link d-inline" href="#">RELIGIÃO</a>
                        <span class="vertical-line">|</span>
                        <a class="nav-link d-inline" href="#">CULTURA</a>
                        <span class="vertical-line">|</span>
                        <a class="nav-link d-inline" href="#">ASSOCIATIVISMO</a>
                        <span class="vertical-line">|</span>
                        <a class="nav-link d-inline" href="#">ECONOMIA</a>
                        <span class="vertical-line">|</span>
                        <a class="nav-link d-inline" href="#">AGENDA</a>
                    </li>
                    
                    <li class="nav-item secondary-nav-item" id="localItem">
                        <a class="nav-link d-inline" href="#">Link 1</a>
                      
                        <a class="nav-link d-inline" href="#">Link 2</a>
                    </li>
                    <li class="nav-item secondary-nav-item" id="canaisItem">
                        <a class="nav-link d-inline" href="#">Link 1</a>
                        <a class="nav-link d-inline" href="#">Link 2</a>
                    </li>
                    <li class="nav-item secondary-nav-item" id="anosItem">
                        {% for year in range(2009, 2020, 1) %}
                            <a class="nav-link d-inline" href="{{ url_for('news_per_year', year=year) }}">{{ year }}</a>
                            <span class="vertical-line">|</span>
                        {% endfor %}
                    </li>
                </ul>
            </div>
        </nav>

    {% block content %}{% endblock %}

    <div class="bg-dark">
        <hr class="custom-margin-transparent-sm-b border-top opacity-25 mb-4">
        <div class="row container">
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col-md-3 text-end text-light me-3">
                <p class="font-montserrat fw-normal text-uppercase">Receba a nossa Newsletter!</p>
                <form action="#" method="post" class="d-flex align-items-center">
                    <div class="flex-fill me-1">
                        <label for="inputEmail" class="visually-hidden">Endereço de Email</label>
                        <input type="email" id="inputEmail" class="form-control rounded-1" placeholder="Endereço de Email" required>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-outline-danger rounded-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
                                <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471z"/>
                            </svg>
                        </button>
                    </div>
                </form>
            </div>
            

        </div>
       <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 mt-5 pt-4 text-white ">
        <div class="col-md-4 mb-3 text-center">
            <h5 class="font-montserrat fw-light text-uppercase opacity-50">&copy;2024</h5> 
            <ul class="nav flex-column text-center">
              <li class="nav-item footer-link mb-2">
                <a class="text-light text-uppercase font-montserrat link link-underline-opacity-0 link-light" href="/sobre#sobre">Sobre</a>
              </li>
              <li class="nav-item footer-link mb-2">
                <a class="text-light text-uppercase font-montserrat link link-underline-opacity-0 link-light" href="#hoje">Hoje</a>
              </li>
              <li class="nav-item footer-link mb-2">
                  <a class="text-light text-uppercase font-montserrat link link-underline-opacity-0 link-light" href="#hoje">Hoje</a>
              </li>
              <li class="nav-item footer-link mb-2">
                  <a class="text-light text-uppercase font-montserrat link link-underline-opacity-0 link-light" href="#hoje">Hoje</a>
              </li>
            </ul>
          </div>

        <div class="col-md-4 mb-3 text-center">
            <h5 class="font-montserrat fw-light text-uppercase opacity-50">Secções</h5> 
          <ul class="nav flex-column">
            <li class="nav-item footer-link mb-2">
              <a class="text-light text-uppercase font-montserrat link link-underline-opacity-0 link-light" href="/#pelaCuriosidade">Pela Curiosidade</a>
            </li>
            <li class="nav-item footer-link mb-2">
              <a class="text-light text-uppercase font-montserrat link link-underline-opacity-0 link-light" href="/#entidadesMaisFaladas">Entidades Mais Faladas</a>
            </li>
            <li class="nav-item footer-link mb-2">
                <a class="text-light text-uppercase font-montserrat link link-underline-opacity-0 link-light" href="#hoje">Hoje</a>
            </li>
            <li class="nav-item footer-link mb-2">
                <a class="text-light text-uppercase font-montserrat link link-underline-opacity-0 link-light" href="#hoje">Hoje</a>
            </li>
          </ul>
        </div>
    
        <div class="col-md-4 mb-3 text-center">
          <h5 class="font-montserrat fw-light text-uppercase opacity-50">Links</h5> 
          <ul class="nav flex-column">
              <li class="nav-item footer-link mb-2">
                  <a class="text-light text-uppercase font-montserrat link link-underline-opacity-0 link-light" href="#">Github</a>
              </li>
              <li class="nav-item footer-link mb-2">
                  <a class="text-light text-uppercase font-montserrat link link-underline-opacity-0 link-light" href="#">Arquivo.pt</a>
              </li>
              <li class="nav-item footer-link mb-2">
                  <a class="text-light text-uppercase font-montserrat link link-underline-opacity-0 link-light" href="#">UBI</a>
              </li>
              <li class="nav-item footer-link mb-2">
                  <a class="text-light text-uppercase link link-underline-opacity-0 link-underline-opacity-100-hover link-offset-3 link-light" href="#"></a>
              </li>
              <li class="nav-item footer-link">
                  <a class="text-light text-uppercase link link-underline-opacity-0 link-underline-opacity-100-hover link-offset-3 link-light" href="#"></a>
              </li>
          </ul>
      </div>
      
      </footer>
    </div>
    
    <script src="{{ url_for('static', filename='index.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
