
{% extends "base.html" %}

{% block title %}Arquivo Web @ Notícias da Covilhã{% endblock %}

{% block content %}



    <div class="">
        <!--<div class="container mt-4">
            <div class="row">
                {% for date, data in news_front_page.items() %}
                <div class="col-md-3">
                    <h2>{{ date }}</h2>
                    {% if 'url' in data %}
                        <div class="front-page-image">
                            <img src="{{ data.url }}" alt="Image" class="img-fluid mb-2">
                        </div>
                    {% endif %}
           
                </div>
                {% endfor %}
            </div>
        </div>-->

        <!-- MAIN NEWS -->
     <hr class="custom-margin-transparent-sm" id="mainNews">
     <div class="bg-dark">
        <hr class="custom-margin-transparent-sm-b">
        <div class="container text-light">
            <h1 class="text-start font-montserrat fw-bold text-uppercase display-6 mb-3">
                {{news[random_index].category}}
                {% if news[random_index].sub_category == news[random_index].category %}
                {% elif news[random_index].sub_category == "" %}
                {% elif news[random_index].sub_category != "" %}
                <span class="fw-semibold display-6"> &#8250; </span>
                <a href="" class="link link-underline-opacity-0 link-underline-opacity-100-hover link-offset-2 link-light"> 
                    {{news[random_index].sub_category}}
                </a>

                {% endif %}
            </h1>
            <div class="row">
                <div class="col-md-7" id="imageColumn">
                    <div class="main-article mb-2 pt-1">
                        <!-- Large image -->
                        <img src="{{ news[random_index].image_url }}" class="w-100 rounded-1 main-article-image" alt="..." onerror="handleImageError(this);">
                    </div>
                </div>
                <div class="col-md-5" id="textColumn">
                    <div class="container text-start">
                        <!-- Text content -->
                        <span class="font-montserrat bg-danger text-light fs-3">&nbsp;{{news[random_index].date}}&nbsp;</span>
                        <h1 class="lh-base text-uppercase font-oswald fw-light mt-1">
                            <a href="{{ url_for('news_item', article_id=news[random_index].nid, year=request.args.get('year')) }}" class="link link-underline-opacity-0 link-underline-opacity-100-hover link-offset-2 link-light">{{ news[random_index].title }}</a>
                        </h1>
                        <p class="font-montserrat fw-light fs-5" id="newsContent">{{ news[random_index].content[:500] }}{% if news[random_index].content|length > 500 %}...{% endif %} </p>
                        {% if news[random_index].content|length > 500 %}
                        <div class="text-end font-oswald text-uppercase fs-4">
                            <p>&rightarrow; <a href="{{ url_for('news_item', article_id=news[random_index].nid, year=request.args.get('year')) }}" class="link link-underline-opacity-0 link-underline-opacity-100-hover link-offset-3 link-light">Continuar a leitura</a></p>
                        </div>
                        {% endif %} 
                    </div>
                </div>
            </div>

        <hr class="custom-margin-transparent-sm">
    </div>


     <!-- TRIFETA -->
    <!-- TRIFETA LIGHT -->
    <div class="bg-light">
        <hr class="custom-margin-transparent-b-sm">
        <div class="container mt-5">
            <!-- MODAL DA CAPA DO JORNAL -->
            <div id="myModal" class="modal">
                <div id="caption" class="font-oswald fs-2 text-light text-center">

                </div>
                <!-- <span class="close">&times;</span> -->
                <img class="modal-content rounded-1" id="img01">
            </div>
            <div class="row">
                <!-- CAPA DE JORNAL -->
                <div class="col-md-4 font-oswald">
                    {% set first_date, first_data = news_front_page | dictsort | last %}
                    <h2 class="text-uppercase font-oswald fw-normal fs-1 text-light bg-danger border border-4 border-danger text-center">&nbsp;Há {{ first_date | years_ago }}  anos atrás</h2>
                    {% if 'url' in first_data %}
                        <div class="front-page-image">
                            <img src="{{ first_data.url }}" alt="{{first_date}}" id="myImg" class="img-fluid">
                        </div>
                    {% endif %}
                    <a href="/capas" target="_blank" rel="noopener noreferrer" class="btn btn-danger w-100 rounded-0 fs-3 mt-2 ">
                        VER TODAS AS CAPAS
                    </a>
                </div>
                <div class="col-md-8">
                    <h2 class="text-uppercase font-oswald fw-normal fs-1 text-center bg-danger text-light border border-4 border-danger"> Antigamente era assim </h2>
                    <div class="row">
                        {% for i in range(num_articles) %}
                        {% if i < 8 %}
                            <div class="col-md-6 semanario-item">
                                <div class="row">
                                    <!-- <div class="col-md-3">
                                        <img src="{{ news[i].image_url }}" class="img-fluid" alt="{{ news[i].title }}">
                                    </div> -->
                                    <div class="col-md-12">
                                        <a href="{{ url_for('news_item', article_id=news[i].nid, year=request.args.get('year')) }}" class="link link-underline-opacity-0 link-underline-opacity-100-hover link-offset-3 link-dark" target="_blank" rel="noopener noreferrer">
                                            <h3 class="fw-bold text-uppercase">{{ news[i].title }}</h3>
                                        </a>
                                    </div>
                                </div>
                            
                                <div class="row">
                                    <div class="col">
                                        <h4 class="text-uppercase fw-normal px-1 m-0 mb-2 text-start text-light bg-dark d-inline-block">{{ news[i].date }}</h4>
                                    </div>
                                    <div class="col">
                                        <p class="fw-thin text-uppercase font-oswald text-end me-4 ">
                                            <a href="{{ url_for('news_item', article_id=news[i].nid, year=request.args.get('year')) }}" class="link link-underline-opacity-0 link-underline-opacity-100-hover link-offset-3 link-dark">Mais Detalhes</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    

                    {% for i in range(num_articles, 8) %}
                        <div class="col-md-6 semanario-item">
                            <div class="row">
                                <div class="col-md-12 text-center fw-normal font-oswald text-light text-uppercase">
                                    {% if loop.index == 1 %}
                                    <a href="/capas" target="_blank" rel="noopener noreferrer" class="btn btn-danger w-100 rounded-0 fs-3">
                                        VER TODAS AS CAPAS
                                    </a>
                                    {% else %}
                                    <a href="/capas" target="_blank" rel="noopener noreferrer" class="btn btn-danger w-100 rounded-0 fs-3">
                                        VER 2019
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    </div>
                </div>
                <!-- <div class="col-md-5">
                    <div class="">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner border border-1 border-dark">
                                {% for i in range(num_articles) %}
                                <div class="carousel-item {% if i == 0 %}active{% endif %}">
                                    <img src="{{ news[i].image_url }}" class="img-fluid" alt="...">
                                    <div class="carousel-caption pt-3 pb-0">
                                        <h3 class="text-uppercase fw-bold">{{ news[i].title }}</h3>
                                        <div class="row">
                                            <div class="col">
                                                <h4 class="text-uppercase fw-semibold m-0 mb-2 text-start ms-4">{{ news[i].date }}</h4>
                                            </div>
                                            <div class="col">
                                                <p class="fw-thin text-uppercase font-oswald text-end me-4">
                                                    <a href="{{ url_for('news_item', article_id=news[i].nid, year=request.args.get('year')) }}" class="link link-underline-opacity-0 link-underline-opacity-100-hover link-offset-3 link-light">Mais Detalhes</a>
                                                </p>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <h2 class="text-uppercase fw-bold text-center"> O Hoje de Antigamente</h2>
                    </div>
                </div> -->
               
                <!-- <div class="col-md-3">
                    {% for i in range(num_articles) %}
                        <div class="container article-far-right mb-2 pt-1 border {% if i >= 5 %}d-none{% endif %}">
                            <h4 class="text-uppercase fw-bold">{{ news[i].title }}</h4>
                            <div class="row">
                                <div class="col">
                                    <h5 class="text-uppercase fw-semibold">{{ news[i].date }}</h5>
                                </div>
                                <div class="col">
                                    <p class="fw-thin text-uppercase font-oswald text-end me-4">
                                        <a href="{{ url_for('news_item', article_id=news[i].nid) }}" class="link link-underline-opacity-0 link-underline-opacity-100-hover link-offset-3 link-dark">Mais Detalhes</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <p class="font-oswald text-center border bg-dark"><button id="verMaisBtn" class="fs-3 text-uppercase btn btn-link link-underline-opacity-0 link-underline-opacity-100-hover link-offset-2 link-light">Ver Mais</button></p>
                </div>-->
            </div>
        </div>
        <hr class="custom-margin-transparent-t">
    </div>

     

        <div class="bg-dark">
            <div class="row d-flex justify-content-center">
                <hr class="custom-margin-transparent-b-huge" id="pelaCuriosidade">
                <h1 class="text-center text-uppercase fw-normal display-1 text-light font-oswald big-title" id="searchTitle">DEMO</h1>
                <h5 class="text-uppercase text-center fw-normal text-light opacity-75 mt-3 mb-4">Quer pesquisar mais artigos do Notícias da Covilhã? </h5>
                <!-- SEARCH BAR -->
                <form class="" action="/pelacuriosidade" method="GET" role="search" id="searchForm">
                    <div class="row d-flex justify-content-center g-0">
                        <!-- Column for search input -->
                        <div class="col-md-6 offset-md-2">
                            <div class="d-flex">
                                <input class="form-control rounded rounded-1 border border-black me-1 ms-2" type="search" placeholder="Rampa da Serra da Estrela 2012..." aria-label="Search" id="searchInput" name="query">
                                <button class="btn btn-outline-danger rounded-1 px-5" type="submit" id="searchButton" disabled>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search mb-1 " viewBox="0 0 16 16">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        
                        <!-- Column for "Opções Avançadas" -->
                        <div class="col-md-2 d-flex font-oswald fw-normal align-items-end justify-content-end">
                            <button type="button" class="btn btn-link text-uppercase link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover link-offset-3 text-uppercase text-end" id="showFiltersBtn" onclick="toggleFilters()">
                                Opções Avançadas
                            </button>
                        </div>
                    </div>
                </form>
                
            </div>
            
            <div class="container justify-content-center filters-container mt-4" style="display: none;">
                <div class="row text-light ">
                    <div class="col-md-12 offset-md-0">
                        <p class="font-oswald text-uppercase">Procurar</p>
                        <div class="form-check mb-2">
                            <div class="d-flex align-items-center mb-2">
                                <div class="checkbox-wrapper-29">
                                    <label class="checkbox" for="category1">
                                      <input type="checkbox" id="category1" class="checkbox__input" />  
                                      <span class="checkbox__label"></span>
                                      <span class="checkbox-wrapper-text text-uppercase font-oswald">Texto</span> 
                                    </label>
                                  </div>
                            </div>
                        </div>
                        <div class="form-check mb-2">
                            <div class="d-flex align-items-center mb-2">
                                <div class="checkbox-wrapper-29">
                                    <label class="checkbox" for="category2">
                                      <input type="checkbox" id="category2" class="checkbox__input" />  
                                      <span class="checkbox__label"></span>
                                      <span class="checkbox-wrapper-text text-uppercase font-oswald">Autor</span> 
                                    </label>
                                  </div>
                            </div>
                        </div>
                        <div class="form-check mb-2">
                            <div class="d-flex align-items-center mb-2">
                                <div class="checkbox-wrapper-29">
                                    <label class="checkbox" for="category3">
                                      <input type="checkbox" id="category3" class="checkbox__input" />  
                                      <span class="checkbox__label"></span>
                                      <span class="checkbox-wrapper-text text-uppercase font-oswald">Palavras-Chave</span> 
                                    </label>
                                  </div>
                            </div>
                        </div>
                        <div class="form-check mb-2">
                            <div class="d-flex align-items-center mb-2">
                                <div class="checkbox-wrapper-29">
                                    <label class="checkbox" for="category4">
                                      <input type="checkbox" id="category4" class="checkbox__input" />  
                                      <span class="checkbox__label"></span>
                                      <span class="checkbox-wrapper-text text-uppercase font-oswald">Capas</span> 
                                    </label>
                                  </div>
                            </div>
                        </div>
                        <!-- <div class="form-check mb-2">
                            <div class="d-flex align-items-center mb-2">
                                <div class="checkbox-wrapper-29">
                                    <label class="checkbox" for="category5">
                                      <input type="checkbox" id="category5" class="checkbox__input" />  
                                      <span class="checkbox__label"></span>
                                      <span class="checkbox-wrapper-text text-uppercase font-oswald">Notícias</span> 
                                    </label>
                                  </div>
                            </div>
                        </div> -->
                        <div class="form-check mb-2">
                            <div class="d-flex align-items-center mb-2">
                                <div class="checkbox-wrapper-29">
                                    <label class="checkbox" for="category5">
                                      <input type="checkbox" id="category5" class="checkbox__input" />  
                                      <span class="checkbox__label"></span>
                                      <span class="checkbox-wrapper-text text-uppercase font-oswald">Categoria</span> 
                                    </label>
                                  </div>
                            </div>
                        </div> 
                        <div class="form-check mb-2">
                            <div class="d-flex align-items-center mb-2">
                                <div class="checkbox-wrapper-29">
                                    <label class="checkbox" for="category6">
                                      <input type="checkbox" id="category6" class="checkbox__input" />  
                                      <span class="checkbox__label"></span>
                                      <span class="checkbox-wrapper-text text-uppercase font-oswald">Imagens</span> 
                                    </label>
                                  </div>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-md-6 d-flex align-items-center mb-2">
                                <label for="startYear" class="form-label me-4 font-oswald fw-normal fs-5">DE</label>
                                <input type="number" id="startYear" name="startYear" class="form-control rounded-0 bg-dark text-light border-3 font-oswald fw-normal fs-5" min="2009" max="2019" step="1" value="2009">
                            </div>
                            <div class="col-md-6 d-flex align-items-center mb-2">
                                <label for="endYear" class="form-label me-3 text-light font-oswald fw-normal fs-5">ATÉ</label>
                                <input type="number" id="endYear" name="endYear" class="form-control rounded-0 bg-dark text-light border-3 font-oswald fw-normal fs-5" min="2009" max="2019" step="1" value="2019">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <!-- Add more checkboxes for locations -->
                    </div>
                </div>
            </div>
            
            
            <hr class="custom-margin-transparent-t-huge">
        </div>

        <!-- SEMANÁRIO -->
        <!--
        <div class="bg-light">
            <hr class="custom-margin-transparent-b-sm">
            <div class="container">
                <h1 class="text-start font-montserrat fw-light text-uppercase display-4 mb-3">Semanário</h1>
                <div class="row">
                    <div class="col-md-10">
                        <div class="row ">
                            {% for i in range(num_articles) %}
                                <div class="col-lg-4 {% if loop.index <= 3 %}col-12{% endif %} container article-middle mb-2 pt-1 {% if i >= 3 %}d-none{% endif %}">
                                    {% if i != 0 %}
                                        <div class="text-center">
                                            <img src="{{ news[i].image_url }}" class="semanario-article-image" alt="...">  
                                        </div>
                                    
                                        <h4 class="text-uppercase font-oswald fw-light text-start mt-1">
                                            <a href="{{ url_for('news_item', article_id=news[i].nid, year=request.args.get('year')) }}" class="link link-underline-opacity-0 link-underline-opacity-100-hover link-offset-1 link-dark">{{ news[i].title }}</a>
                                        </h4>
                                        <span class="font-montserrat bg-secondary text-light"> &nbsp;{{news[i].date}}&nbsp;</span>
                                        <p class="text-start font-montserrat fw-light">
                                            {{ news[i].content[:180] }}{% if news[i].content|length > 180 %}...{% endif %}
                                        </p>
                                        {% if news[i].content|length > 180 %}
                                        <a href="{{ url_for('news_item', article_id=news[i].nid, year=request.args.get('year')) }}" class="link link-underline-opacity-0 link-underline-opacity-100-hover link-offset-2 link-dark font-oswald">MAIS DETALHES</a>
                                        {% endif %}
                                    {% endif %}
                                    {% if i == 0 %}
                                    {% set first_date, first_data = news_front_page | dictsort | first %}
                                    <h3 class="text-uppercase bg-dark text-light font-oswald">&nbsp;Há <span class="bg-danger">{{ first_date | years_ago }}</span>  anos atrás...</h3>
                                    {% if 'url' in first_data %}
                                        <div class="front-page-image">
                                            <img src="{{ first_data.url }}" alt="Image" class="img-fluid">
                                        </div>
                                    {% endif %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="container h-100 d-flex align-items-center justify-content-center">
                            <p class="font-oswald text-center border bg-dark"><button id="verMaisBtn" class="p-3 fs-3 text-uppercase btn btn-link link-underline-opacity-0 link-underline-opacity-100-hover link-offset-2 link-light">Ver Mais</button></p>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="custom-margin-transparent-t">
        </div>-->
    
    <!-- TOP ENTITIES -->
    <div class="bg-light"> 
        <hr class="custom-margin-transparent-b-lg" id="entidadesMaisFaladas">
        <div class="container">
            <h1 class="text-start font-oswald fw-normal text-uppercase display-4 mb-5 text-center">Entidades mais faladas ao longo dos anos</h1>
            <div class="container">
                <div class="row text-center">
                    <div class="">
                        <div class="btn-group">
                            <button id="prevYear" class="btn btn-transparent fs-1  rounded-start-1">&#8249;</button>
                            <button id="currentYear" class="bg-light display-1 font-montserrat fw-bold text-danger border-0" style="pointer-events: none;">{{ current_year }}</button>
                            <button id="nextYear" class="btn btn-transparent fs-1 rounded-end-1">&#8250;</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="container mt-4 text-center">
                <div class="contentStatsContainer">
                    {% for content_stats_dict in content_stats_list %}
                        {% for year, stats in content_stats_dict.items() %}
                            <div class="content-stats" id="contentstats_{{ year }}" style="display:none; margin-bottom: 20px;">   
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="font-montserrat fs-5 text-secondary"><i>(contabilizadas a partir de&nbsp;<span class="fw-bold fs-2"> {{ stats.content_stats.num_words_year }} </span>&nbsp;palavras)</i></p>
                                    </div>
                                    <!-- <div class="col-md-12">
                                        <p class="font-montserrat fs-5">Comprimento médio das palavras no ano: <span class="fw-bold fs-2">{{ stats.content_stats.avg_word_length_year }}</span></p>
                                    </div> -->
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class="statsContainer">
                    {% for stats_dict in stats_list %}
                        {% for year, stats in stats_dict.items() %}
                            <div class="stats" id="stats_{{ year }}" style="display:none; margin-bottom: 20px;">          
                                <div class="row align-items-start">
                                    <div class="col-md-4 d-flex justify-content-center align-items-center mb-4">
                                        <p class="font-montserrat fs-5">A pessoa mais referida foi <br> <span class="display-1 fw-normal text-uppercase font-oswald text-danger">{{ stats.spacy_entities_per.most_common_entity }}</span> <br> <span class="fw-bold">({{ stats.spacy_entities_per.most_common_count }} vezes)</span> <br> de um total de <span class="fw-bold fs-2">{{ stats.spacy_entities_per.unique_entities }}</span> pessoas</p>
                                    </div>
                                    <div class="col-md-4 d-flex justify-content-center align-items-center mb-4">
                                        <p class="font-montserrat fs-5">A organização mais falada foi <br> <span class="display-1 fw-normal text-uppercase font-oswald text-danger">{{ stats.spacy_entites_org.most_common_entity }}</span> <br> <span class="fw-bold">({{ stats.spacy_entites_org.most_common_count }} vezes)</span> <br> de um total de <span class="fw-bold fs-2">{{ stats.spacy_entites_org.unique_entities }}</span> organizações</p>
                                    </div>
                                    <div class="col-md-4 d-flex justify-content-center align-items-center mb-4">
                                        <p class="font-montserrat fs-5">A localidade que mais apareceu foi <br> <span class="display-1 fw-normal text-uppercase font-oswald text-danger">{{ stats.spacy_entities_loc.most_common_entity }}</span>  <br> <span class="fw-bold">({{ stats.spacy_entities_loc.most_common_count }} vezes)</span> <br> de um total de <span class="fw-bold fs-2">{{ stats.spacy_entities_loc.unique_entities }}</span> localidades</p>
                                    </div>      
                                </div>
                                
                                
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>

            <!-- PASSAR ISTO PARA O INDEX.JS -->
            <script>
                var selectElement = document.getElementById('yearSelect');
                var statsContainer = document.querySelector('.statsContainer');
            
                selectElement.addEventListener('change', function() {
                    var selectedYear = this.value;
                    showStats(selectedYear);
                });
            
                function showStats(year) {
                    // Hide all stats
                    var allStats = statsContainer.getElementsByClassName('stats');
                    for (var i = 0; i < allStats.length; i++) {
                        allStats[i].style.display = 'none';
                    }
            
                    // Show stats for the selected year
                    var statsToShow = document.getElementById('stats_' + year);
                    if (statsToShow) {
                        statsToShow.style.display = 'block';
                    }
                }
            </script>
            
        </div>
        <hr class="custom-margin-transparent-t-lg">
    </div>
   

<!-- <hr class="custom-margin">
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-6">

                </div>
                <div class="col-md-3">
                    
                </div>
                <div class="col-md-3">
                    <h1 class="text-uppercase text-center fw-bold">OPINIÃO</h1>
                </div>
            </div>
        </div> -->

    </div>

    <script src="{{ url_for('static', filename='index.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    {% endblock %}

