{% extends "base.html" %}

{% block title %}{{news.title}}{% endblock %}

{% block content %} 
<div class="bg-light mb-5">
    <div class="container">
        <div class="row no-gutters">
            <hr class="custom-margin-transparent-b-sm">
            <div class="col-md-8 offset-md-2">
                <div class="image-div text-center">
                    <img src="{{ news.image_url }}" alt="" class="news-item-image rounded-1">
                </div>
            
                <div class="card-body mt-4">
                    <div class="row mb-3">
                        <div class="col-sm-12">
                            <h1 class="card-title font-oswald fw-normal text-uppercase">{{ news.title }}</h1>
                        </div>
                        <div class="col-sm-12">
                            <h4 class="card-text font-oswald bg-secondary d-inline-block text-white px-1 fw-normal">{{ news.date }}</h4>
                        </div>
                    </div>
                    <p class="card-text font-montserrat">por <span class="fw-bold">{{ news.author }}</span></p>
                    <p class="card-text newsContent font-montserrat">
                        {{ news.formatted_html_content | safe }}
                    </p>

                    <br><br>
                    <p class="font-montserrat"> <span class="text-uppercase fw-bold bg-dark px-1 text-light">Categoria</span> <br>
                        {{news.category}}
                        {% if news.sub_category == news.category %}
                        {% elif news.sub_category == "" %}
                        {% elif news.sub_category != "" %}
                        - {{news.sub_category}}
                        {% endif %}
                    </p>
                    <p class="font-montserrat"> <span class="text-uppercase fw-bold bg-dark px-1 text-light">Palavras-Chave</span> <br>
                    {% for keyword in news.keywords %}
                    <span>{{keyword}}</span> /
                    {% endfor %}
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
    <hr class="custom-margin-transparent-t-sm">
</div>

{% endblock %}
