{% extends "base.html" %}

{% block title %}Notícias de {{year}}{% endblock %}

{% block content %} 
<div class="bg-light">
    <div class="bg-dark row">
        <div class="container text-center">
            <hr class="custom-margin-transparent-sm">
            <h4 class="text-light fw-light text-uppercase mb-4">Há <span class="bg-danger fs-1">{{current_date.year - year}}</span> anos atrás era</h4>
            <div class="container">
                <h1 class="text-light news-per-year-title font-oswald d-inline-block">{{ year }}</h1>
            </div>
            <h4 class="text-light fw-light mt-4">e com isto houve um total de <span class="fs-2 text-decoration-underline">{{news_total}}</span> notícias</h4>
            <hr class="custom-margin-transparent-sm">
    
            {% if statistics %}
            <a href="#stats" class="text-light text-uppercase link link-underline-opacity-0 link-underline-opacity-100-hover link-offset-3 link-light font-oswald fs-3 toggle-button" onclick="toggleStatistics()">Ver Estatísticas</a>

            <div class="statistics-container" style="display: none;">
                <div class="text-light fs-6 mt-3">
                    {% if 'spacy_entities_per' in statistics %}
                        <span class="font-montserrat text-uppercase">Total de Pessoas: {{ statistics.spacy_entities_per.unique_entities }}</span>
                        <br>
                        <span class="font-montserrat text-uppercase">Pessoa mais comum: <span class="fw-bold fs-4 text-danger">{{ statistics.spacy_entities_per.most_common_entity }}</span> ({{ statistics.spacy_entities_per.most_common_count }} vezes)</span>
                    {% else %}
                        <span>Nenhuma estatística disponível para entidades</span>
                    {% endif %}
                </div>
                <div class="text-light fs-6 mt-3">
                    {% if 'spacy_entites_org' in statistics %}
                        <span class="font-montserrat text-uppercase">Total de Organizações: {{ statistics.spacy_entites_org.unique_entities }}</span>
                        <br>
                        <span class="font-montserrat text-uppercase">Organização mais comum: <span class="fw-bold fs-4 text-danger">{{ statistics.spacy_entites_org.most_common_entity }}</span> ({{ statistics.spacy_entites_org.most_common_count }} vezes)</span>
                    {% else %}
                        <span class="font-montserrat text-uppercase">Nenhuma estatística disponível para Organizações</span>
                    {% endif %}
                </div>
                <div class="text-light fs-6 mt-3">
                    {% if 'spacy_entities_loc' in statistics %}
                        <span class="font-montserrat text-uppercase">Total de Organizações: {{ statistics.spacy_entities_loc.unique_entities }}</span>
                        <br>
                        <span class="font-montserrat text-uppercase">Organização mais comum: <span class="fw-bold fs-4 text-danger">{{ statistics.spacy_entities_loc.most_common_entity }}</span> ({{ statistics.spacy_entities_loc.most_common_count }} vezes)</span>
                    {% else %}
                        <span class="font-montserrat text-uppercase">Nenhuma estatística disponível para Localidades</span>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <p>Nenhuma estatística disponível.</p>
        {% endif %}
        </div>
        <hr class="custom-margin-transparent-sm">
    </div>
    
    
    
    <hr class="custom-margin-transparent-sm">
    <div class="text-center">
        <div class="top-bar col text-center d-inline-block">
            {% if minimal_content == True %}
            <div class="row">
                <div class="col ">
                    <a href="{{ url_for('news_per_year', year=year, minimal_content='false') }}" class=" bg-dark text-light fs-3 font-oswald text-uppercase link link-underline-opacity-0 link-light footer-link d-inline-block px-1">Conteúdo Completo</a>
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="col">
                    <a href="{{ url_for('news_per_year', year=year, minimal_content='true') }}" class="text-dark font-oswald fs-3 text-uppercase link link-underline-opacity-0 link-dark footer-link d-inline-block border px-1 border-2 border-dark">Conteúdo Mínimo</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    
    
   
    <hr class="custom-margin-transparent-sm">
    <div class="row">
        {% for item in news %}
        <div class="col-md-6 col-sm-12 px-5 py-3">
            <div class="container">
                <div class="row">
                    {% if minimal_content == False %}
                    <div class="col text-center mb-2">
                        <img src="{{ item.image_url }}" alt="" class="rounded-1 year-article-image">
                    </div>
                 
                    <div class="col d-flex flex-column justify-content-between">
                        <div>
                            <h3 class="text-uppercase font-oswald title-link">
                                <a href="{{ url_for('news_item', article_id=item.nid, year=request.args.get('year')) }}" class="link link-underline-opacity-0 link-underline-opacity-100-hover link-offset-1 link-dark">
                                    {{ item.title }}
                                </a>
                            </h3>
                            <h5 class="font-oswald fw-light bg-secondary d-inline-block text-light px-1 ">{{ item.date }}</h5>
                            <p class="">por <span class="fw-bold">{% if item.author == "" %} NC {% endif %} {% if item.author != "" %} {{ item.author }} {% endif %} </span></p>
                            <p class="font-montserrat">
                                {% if item.formatted_html_content == "" %}
                                <br>
                                {% elif (item.title|length + item.author|length) > 60 %}
                                    {{ item.formatted_html_content[:item.title|length + item.author|length] | safe }}...
                                {% else %}
                                    {{ item.formatted_html_content[:140] | safe }}...
                                {% endif %}
                            </p>
                        </div>
                        <div class="text-end">
                            <a href="{{ url_for('news_item', article_id=item.nid, year=request.args.get('year')) }}" class="link link-underline-opacity-0 link-underline-opacity-100-hover link-offset-2 link-dark font-oswald text-uppercase mt-auto mb-2 d-inline-block">Mais Detalhes</a>
                        </div>
                    </div>
                    {% else %}
                    <div class="col d-flex flex-column justify-content-between">
                        <div>
                            <h3 class="text-uppercase font-oswald title-link">
                                <a href="{{ url_for('news_item', article_id=item.nid, year=request.args.get('year')) }}" class="link link-underline-opacity-0 link-underline-opacity-100-hover link-offset-1 link-dark">
                                    {{ item.title }}
                                </a>
                            </h3>
                            <h5 class="font-oswald fw-light bg-secondary d-inline-block text-light px-1 ">{{ item.date }}</h5>
                            <p class="">por <span class="fw-bold">{% if item.author == "" %} NC {% endif %} {% if item.author != "" %} {{ item.author }} {% endif %} </span></p>
                            <p class="font-montserrat">
                                        {% if item.formatted_html_content == "" %}
                                            <br>
                                        {% elif (item.title|length + item.author|length) > 100 %}
                                            {{ item.formatted_html_content[:300] | safe }}...
                                        {% else %}
                                            {{ item.formatted_html_content[:500] | safe }}...
                                        {% endif %}
                            </p>
                            
                        </div>
                        <div class="text-end">
                            <a href="{{ url_for('news_item', article_id=item.nid) }}" class="link link-underline-opacity-0 link-underline-opacity-100-hover link-offset-2 link-dark font-oswald text-uppercase mt-auto mb-2 d-inline-block">Mais Detalhes</a>
                        </div>
                       
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>        
        {% endfor %}
    </div>
    <div class="justify-content-center d-flex mt-5 ">
        {{ pagination.links }}
    </div>
    <hr class="custom-margin-transparent-t">
</div>

    <script src="{{ url_for('static', filename='index.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    {% endblock %}
