{% extends "base.html" %}

{% block title %}
    Search Results
{% endblock %}

{% block content %}
<div class="bg-dark">
    <div class="row d-flex justify-content-center">
        <hr class="custom-margin-transparent-b-lg">
        <h1 class="text-center text-uppercase fw-normal fs-3 text-light font-oswald">Pesquise no <span class="fs-1 font-oswald lh-lg px-1 border-2 border-bottom border-danger">Arquivo Web</span> do <span class="fs-1 font-oswald">Notícias da Covilhã</span></h1>
        <form class="" action="/pelacuriosidade" method="GET" role="search" id="searchForm">
            <div class="row d-flex justify-content-center g-0">
                <!-- Column for search input -->
                <div class="col-md-6 offset-md-2">
                    <div class="d-flex">
                        <input class="form-control rounded rounded-1 border border-black me-1 ms-2" type="search" placeholder="Rampa da Serra da Estrela 2012..." aria-label="Search" id="searchInput" name="query">
                        <button class="btn btn-outline-danger rounded-1 px-5" type="submit" id="searchButton" disabled>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search mb-1 " viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                            </svg>
                        </button>
                    </div>
                </div>
                
                <!-- Column for "Opções Avançadas" -->
                <div class="col-md-2 d-flex font-oswald fw-normal align-items-end justify-content-end">
                    <button type="button" class="btn btn-link text-uppercase link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover link-offset-3 text-uppercase text-end" id="showFiltersBtn" onclick="toggleFilters()">
                        Opções Avançadas
                    </button>
                </div>
            </div>
        </form>
    </div>
        <div class="container justify-content-center filters-container mt-4" style="display: none;">
            <div class="row text-light ">
                <div class="col-md-12 offset-md-0">
                    <p class="font-oswald text-uppercase">Procurar</p>
                    <div class="form-check mb-2">
                        <div class="d-flex align-items-center mb-2">
                            <div class="checkbox-wrapper-29">
                                <label class="checkbox" for="category1">
                                  <input type="checkbox" id="category1" class="checkbox__input" />  
                                  <span class="checkbox__label"></span>
                                  <span class="checkbox-wrapper-text text-uppercase font-oswald">Texto</span> 
                                </label>
                              </div>
                        </div>
                    </div>
                    <div class="form-check mb-2">
                        <div class="d-flex align-items-center mb-2">
                            <div class="checkbox-wrapper-29">
                                <label class="checkbox" for="category2">
                                  <input type="checkbox" id="category2" class="checkbox__input" />  
                                  <span class="checkbox__label"></span>
                                  <span class="checkbox-wrapper-text text-uppercase font-oswald">Autor</span> 
                                </label>
                              </div>
                        </div>
                    </div>
                    <div class="form-check mb-2">
                        <div class="d-flex align-items-center mb-2">
                            <div class="checkbox-wrapper-29">
                                <label class="checkbox" for="category3">
                                  <input type="checkbox" id="category3" class="checkbox__input" />  
                                  <span class="checkbox__label"></span>
                                  <span class="checkbox-wrapper-text text-uppercase font-oswald">Palavras-Chave</span> 
                                </label>
                              </div>
                        </div>
                    </div>
                    <div class="form-check mb-2">
                        <div class="d-flex align-items-center mb-2">
                            <div class="checkbox-wrapper-29">
                                <label class="checkbox" for="category4">
                                  <input type="checkbox" id="category4" class="checkbox__input" />  
                                  <span class="checkbox__label"></span>
                                  <span class="checkbox-wrapper-text text-uppercase font-oswald">Capas</span> 
                                </label>
                              </div>
                        </div>
                    </div>
                    <div class="form-check mb-2">
                        <div class="d-flex align-items-center mb-2">
                            <div class="checkbox-wrapper-29">
                                <label class="checkbox" for="category5">
                                  <input type="checkbox" id="category5" class="checkbox__input" />  
                                  <span class="checkbox__label"></span>
                                  <span class="checkbox-wrapper-text text-uppercase font-oswald">Categoria</span> 
                                </label>
                              </div>
                        </div>
                    </div> 
                    <div class="form-check mb-2">
                        <div class="d-flex align-items-center mb-2">
                            <div class="checkbox-wrapper-29">
                                <label class="checkbox" for="category6">
                                  <input type="checkbox" id="category6" class="checkbox__input" />  
                                  <span class="checkbox__label"></span>
                                  <span class="checkbox-wrapper-text text-uppercase font-oswald">Imagens</span> 
                                </label>
                              </div>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-md-6 d-flex align-items-center mb-2">
                            <label for="startYear" class="form-label me-3 font-oswald fw-normal fs-5">DE</label>
                            <input type="number" id="startYear" name="startYear" class="form-control rounded-0 bg-dark text-light border-3 font-oswald fw-normal fs-5" min="2009" max="2019" step="1" value="2009">
                        </div>
                        <div class="col-md-6 d-flex align-items-center mb-2">
                            <label for="endYear" class="form-label me-3 text-light font-oswald fw-normal fs-5">ATÉ</label>
                            <input type="number" id="endYear" name="endYear" class="form-control rounded-0 bg-dark text-light border-3 font-oswald fw-normal fs-5" min="2009" max="2019" step="1" value="2019">
                        </div>
                    </div>
                    
                    
                    <!-- Add more checkboxes for categories -->
                </div>
                <div class="col-md-8">
                    <!-- Add more checkboxes for locations -->
                </div>
            </div>
        </div>
        <hr class="custom-margin-transparent-b-lg">
    
</div>
<div class="bg-light">
    <div class="container">
        <div class="row">            
            {% if total == 0 %}
            <h2 class="text-center text-uppercase mt-4 font-oswald fw-normal"><span class="text-danger">{{ total }}</span> resultados</h2>
            {% else %}
                <h2 class="text-center text-uppercase mt-4 font-oswald fw-normal"><span class="text-danger">{{ total }}</span> resultados para "<span class="text-danger">{{query}}</span>"</h2>
                {% for document in results %}
                    <div class="col-md-6">
                        <div class="mb-4">
                            <div class="container">
                                <div class="my-5">
                                    <h3 class="text-uppercase font-oswald title-link">
                                        <a href="{{ url_for('news_item', article_id=document['nid'], year=request.args.get('year')) }}" class="link link-underline-opacity-0 link-underline-opacity-100-hover link-offset-1 link-dark">
                                           {{ document['title'] }}
                                        </a>
                                    </h3>
                                    <h5 class="font-oswald fw-light bg-secondary d-inline-block text-light px-1 ">{{ document['date'] }}</h5>
                                    <p class="">por <span class="fw-bold">{% if document['author'] == "" %} NC {% endif %} {% if document['author'] != "" %} {{ document['author'] }} {% endif %} </span></p>
                                    <p class="font-montserrat">
                                        {% if document['formatted_html_content'] == "" %}
                                            <br>
                                        {% elif (document['title']|length + document['author']|length) > 100 %}
                                            {{ document['formatted_html_content'][:290] | safe }}...
                                        {% else %}
                                            {{ document['formatted_html_content'][:490] | safe }}...
                                        {% endif %}
                                    </p>
                                    <div class="text-end">
                                        <a href="{{ url_for('news_item', article_id=document['nid'], year=request.args.get('year')) }}" class="link link-underline-opacity-0 link-underline-opacity-100-hover link-offset-2 link-dark font-oswald text-uppercase mt-auto mb-2 d-inline-block">Mais Detalhes</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% endif %}
        </div>
    </div>

    <!-- Pagination -->
    <div class="justify-content-center d-flex mt-5">
        {{ pagination.links }}
    </div>
</div>

<script src="{{ url_for('static', filename='query.js')}}"></script>
{% endblock %}
