body {
    font-family: "Oswald", sans-serif;
    overflow-y: auto; 
    scrollbar-width: 1px; 
}

body::-webkit-scrollbar {
    display: none;
}

 .display-1, .display-2, .display-3 {
    font-family: "Oswald", sans-serif;
}

h1,h2,h3,h4,h5,h6, .nav-link{
    font-family: 'Montserrat', sans-serif;
}

.secondary-nav-item {
    display: none;
}
.active-nav-item {
    color: #ffffff;
    text-decoration: none; 
    border-bottom: 0.5px solid #ffffff;
}


.vertical-line {
    margin: 0 5px; 
    color: #000;
}

.front-page-image img{
    width: 100%;
    height: 300;
    transition: all 0.25s ease-in-out
}

.front-page-image:hover img{
    transform: scale(1.03, 1.03);
    cursor: pointer
}

.carousel-item img {
    height: 500px;
    width: 600px;
    object-fit: cover;
}

.semanario-article-image {
    width: 320px;
    height: 320px;
    object-fit: cover;
}

.semanario-article-image-front-page {
    width: 320px;
    height: 480px;
    object-fit: cover;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
}

.footer-link {
    transition: transform 0.3s ease; 
}

.footer-link:hover {
    transform: scale(1.08);
}

.title-link {
    transition: transform 0.3s ease; 
}

.title-link:hover {
    transform: scale(1.01);
}

.news-per-year-title {
    font-size: 100px;
    transition: transform 0.3s ease; 
    cursor: pointer;
}

.news-per-year-title:hover {
    transform: scale(1.2);
    
}

.active-nav-item:hover .nav-link{
    color: #ffffff !important;
}

.nav-link:hover {
    color: #ffffff !important;
}

.custom-margin {
    margin-top: 70px;
    margin-bottom: 70px;
    color: black;
    /*opacity: 0.20;*/ 
   /* width: 50%;
    margin-left: auto;
    margin-right: auto;*/
}

.custom-margin-transparent {
    margin-top: 70px;
    margin-bottom: 70px;
    color: rgba(0, 0, 0, 0);
}

.custom-margin-transparent-b {
    margin-bottom: 70px;
    color: rgba(0, 0, 0, 0);
}

.custom-margin-transparent-t {
    margin-top: 70px;
    color: rgba(0, 0, 0, 0);
}

.custom-margin-transparent-sm {
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0);
}

.custom-margin-transparent-b-sm {
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0);
}

.custom-margin-transparent-t-sm {
    margin-top: 30px;
    color: rgba(0, 0, 0, 0);
}


.custom-margin-transparent-lg {
    margin-top: 150px;
    margin-bottom: 150px;
    color: rgba(0, 0, 0, 0);
}

.custom-margin-transparent-b-lg {
    margin-bottom: 150px;
    color: rgba(0, 0, 0, 0);
}

.custom-margin-transparent-t-lg {
    margin-top: 150px;
    color: rgba(0, 0, 0, 0);
}

.custom-margin-transparent-huge {
    margin-top: 220px;
    margin-bottom: 220px;
    color: rgba(0, 0, 0, 0);
}

.custom-margin-transparent-b-huge {
    margin-bottom: 220px;
    color: rgba(0, 0, 0, 0);
}

.custom-margin-transparent-t-huge {
    margin-top: 235px;
    color: rgba(0, 0, 0, 0);
}


.font-oswald {
    font-family: "Oswald", sans-serif;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;;
}

.main-image {
    width: 100%; 
    height: auto; 
    max-height: 500px;
    display: block; 
    margin: 0 auto; 
    object-fit: cover;
}

#newsContent:first-letter, .newsContent:first-letter {
    font-size: 3em; 
    line-height: 1; 
    font-weight: bold;
}

.checkbox-wrapper-text:hover {
    transform: scale(1.1); /* Increase the scale to 110% */
  }

.checkbox-wrapper-29 {
    --size: 1.2rem;
    --background: #212529;
    font-size: var(--size);
  }

  .checkbox-wrapper-29 *,
  .checkbox-wrapper-29 *::after,
  .checkbox-wrapper-29 *::before {
    box-sizing: border-box;
  }

  .checkbox-wrapper-29 input[type="checkbox"] {
    visibility: hidden;
    display: none;
  }

  .checkbox-wrapper-29 .checkbox__label {
    width: var(--size);
  }

  .checkbox-wrapper-29 .checkbox__label:before {
    content: ' ';
    display: block;
    height: var(--size);
    width: var(--size);
    position: absolute;
    top: calc(var(--size) * 0.125);
    left: 0;
    background: var(--background);  
  }

  .checkbox-wrapper-29 .checkbox__label:after {
    content: ' ';
    display: block;
    height: var(--size);
    width: var(--size);
    border: calc(var(--size) * .14) solid #ffffff;
    transition: 200ms;
    position: absolute;
    top: calc(var(--size) * 0.125);
    left: 0;
    background: var(--background);  
  }

  .checkbox-wrapper-29 .checkbox__label:after {
    transition: 100ms ease-in-out;
  }

  .checkbox-wrapper-29 .checkbox__input:checked ~ .checkbox__label:after {
    border-top-style: none; 
    border-right-style: none;
    -ms-transform: rotate(-45deg); /* IE9 */
    transform: rotate(-45deg);
    height: calc(var(--size) * .5);
    border-color: green;
  }

  .checkbox-wrapper-29 .checkbox {
    position: relative;
    display: flex;
    cursor: pointer;
    /* Mobile Safari: */
    -webkit-tap-highlight-color: rgba(0,0,0,0);   
  }

  .checkbox-wrapper-29 .checkbox__label:after:hover,
  .checkbox-wrapper-29 .checkbox__label:after:active {
     border-color: rgb(255, 255, 255); 
  }

  .checkbox-wrapper-29 .checkbox__label {
    margin-right: calc(var(--size) * 0.45);
  }

  .hidden {
    display: none !important;
}

.year-article-image {
    height: 300px;
    width: 300px;
    object-fit: cover;
    transition: transform 0.25s ease;
}
.year-article-image:hover {
    transform: scale(1.03);
}

.main-article-image {
    height: 500px;
    object-fit: cover;
}


/*PAGINATION*/
    .pagination > .page-item > .page-link {
        color: #2f2f2f; 
    }

    .pagination > .page-item.active > .page-link {
        background-color: #2c2c2c; 
        border-color: #2c2c2c; 
        color: white;
    }

    .pagination > .page-item.disabled > .page-link {
        color: #6c757d; 
    }
/*
    .sticky-top {
        position: -webkit-sticky;
        position: sticky;
        top: 10px;
        margin-top: -10px; 
        z-index: 1000; 
        height: 100vh; 
    }
    */

/* TEXT SELECTION */
::selection {
    background-color: #DC3545; /* Yellow background */
    color: #ffffff; /* Black text */
}

/* For browsers that support the old ::-moz-selection pseudo-element */
::-moz-selection {
    background-color: #DC3545;
    color: #ffffff;
}

/* For browsers that support the old ::-webkit-selection pseudo-element */
::-webkit-selection {
    background-color: #DC3545;
    color: #ffffff;
}

.image-div img{
    width: 80%;
    transition: all 0.25s ease-in-out
}
.image-div:hover img{
    transform: scale(1.01, 1.01);
    cursor: pointer
}

.custom-underline {
    position: relative;
    text-decoration: none;
}

.custom-underline::after {
    content: ''; 
    position: absolute;
    left: 0;
    bottom: 8px; /* Adjust the position of the underline */
    width: 100%;
    height: 3px; /* Adjust the thickness of the underline */
    background-color: #DC3545; /* Adjust the color of the underline */
}